[Unit]
Description=webserver Daemon

[Service]
ExecStart=/usr/bin/java -jar /opt/helloworld-master/src/main/java/com/coveros/demo/helloworld/HelloWorld.java
User=user

[Install]
WantedBy=multi-user.target
